<div id="i">
	<div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
          
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
</div>

<div id="about_post"
  <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                    <h2 class="section-heading">Tahir Hussain Biography</h2>

                    <p><strong>Tahir Hussain</strong> has an impressive background in the world of business and technology. He was brought up in Dubai - UAE, and although he came from a very humble family background, he got his start in business at the young age of just seventeen. At the age of twenty one he already had a million dollar business. By the time he was only twenty-seven, Tahir had already earned his first million, leading him to become a multi-millionaire just one year later. He has generated over 300 million dollars in revenue for himself and his partners over the years. </p>

                    <p>Over the years, Tahir has become qualified as a software engineer who studied in the U.S., an acute businessman, as well as a financial planner, entrepreneur and peak salesperformer. He took start up businesses and turned them into multimillion dollar businesses. In addition, his substantial achievement in the real estate industry gained Tahir an award by the Rulers office of Dubai - U.A.E. </p>

                    <blockquote class="text-right">He is unstoppable. He is unbelievable. He is a great guy achieving great goals!
                    	<footer class="text-right">Tunku Dato Sr Dr Fauzi bin Tunku Abdul Malek<br>Certified English FA Football</footer></blockquote>

                    <p>Throughout all of Tahir’s success – and his immense wealth creation- he is proud to say that he has never worked for anyone else in his entire life- nor does he ever plan to do so in the future! Backed with over eighteen years of real life experiences in the business world, he further has helped thousands of people come out of their day to day job and taught them how to be successful entrepreneurs. </p>

                    <h3 class="section-heading">Giving Back</h2>

                    <p>Tahir knows the importance of giving back and paying it forward, which is why he shares his success principles with others through being a life coach, a motivational speaker, an author and a personal development trainer. Tahir is also the Owner of the <strong>Unstoppable Millionaire Academy</strong>, where individuals can learn more in-depth strategies about how to truly focus on and achieve their lifelong dreams.</p>

                    <span class="caption text-muted">The Millionaire's Club</span>

                    <p>The Unstoppable Millionaire Academy has created thousands of entrepreneurs in various countries around the world including Malaysia, Singapore, United Arab Emirates, Oman, Qatar, Pakistan, India, Bangladesh, South Africa, Kenya, Thailand, Philippines, Australia, Romania, Germany, United Kingdom and many more.</p>
                      
                </div>
            </div>
        </div>
      </div>