<div id="k">
	<div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
          
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
</div>

<div id="book_post">
	<div class="row">
        <div class="col-md-4">
            <a href="http://www.amazon.com/The-Unstoppable-Millionaire-Successful-Entrepreneurs/dp/1500979112/ref=sr_1_1?ie=UTF8&qid=1409721137&sr=8-1&keywords=the+unstoppable+millionaire">
                <img class="img-responsive" src="/assets/tahir_book.jpg" alt="">
            </a>
        </div>
        <div class="col-md-8">
            <h3>The Unstoppable Millionaire: The Winning Tactics of Successful Entrepreneurs</h3>
            <h4>Paperback</h4>
            <p>The Unstoppable Millionaire is a revolutionary new book that walks you through how you can go from ordinary to extraordinary regardless of your background or current situation.</p>

            <p>Millionaire entrepreneur and business speaker Tahir Hussain shares his personal experiences of how he became a millionaire at age twenty-seven, lost his fortune soon afterwards, and then went on to build one of the most successful businesses in the world. With this riveting guide, you will learn the inside secrets from someone who has proven time and again that you don’t have be born into a wealthy family, you don’t need a fancy college degree, and you don’t need to have a JOB in order to become unstoppable.</p>

          	<p>Once you’ve read The Unstoppable Millionaire, you will know: How adjusting your mind for success can mean the difference between failure and success right from the beginning. How important it is to set and stick with short and long term goals. Why beginning with the end in mind will keep you on track from start to finish no matter how high you decide to reach. How turning your knowledge into defined action will help you to keep moving forward, even in the face of fear and obstacles. Why it is absolutely essential to get back up when you fall, taking your experience with you to the next venture. Why continuing to learn is one of the biggest keys to success no matter what industry you are focused on.</p>


            <blockquote class="text-right">Tahir’s book will provide you with the primary tools of influence, and how to use them in order to create massive impact on your prospects, regardless of what business or industry you’re in. I could not put his book down until I’ had finished reading it.
          	<footer class="text-right">Amazon Review</footer></blockquote>

      			<p>The power of giving back how empowering your customers can be a win-win situation for everyone, essentially making you unstoppable. YOU CAN BE RICH. How rich, however, is ultimately up to YOU.</p>
            <a class="btn btn-primary" href="http://www.amazon.com/The-Unstoppable-Millionaire-Successful-Entrepreneurs/dp/1500979112/ref=sr_1_1?ie=UTF8&qid=1409721137&sr=8-1&keywords=the+unstoppable+millionaire">Purchase</a>
        </div>
    </div>
  </div>