<div id="h">
	<div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>TAHIR HUSSAIN</h1>
            <h3>The Unstoppable Millionaire</h3>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
</div>

<div id="home_post"
  <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                    <p><strong>Tahir Hussain</strong> is an entrepeneur, strategist, life coach, renowned international speaker, and author of the The Unstoppable Millionaire, The Winning Tactics of Successful Entrepeneurs.</p>

                    <p>An entrepeneur since his early days, Tahir started his first business venture when he was only seventeen and had amassed his first million by the time he was twenty-seven. In addition to his business acumen, Tahir is an American educated software engineer, financial planner and accomplished sales performer.</p>

                    <p>A coachee of Anthony Robbins and Robert Kiyosaki, Tahir is an advisor to multinational companies on business growth and has built a strong network of entrepeneurs worldwide numbering in the tens of thousands. Tahir has also won accords with the Royal Family of Dubai for his contributions toward business development in the region.</p>

                    <p>If you too would like to learn quantifiable tools for goal-setting and work-focus and gain immense confidence as a "Power Communicator", Tahir Hussain can teach you how!</p>
                </div>
            </div>
        </div>
      </div>

	<div id="l">
    <section id="services">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-6 text-center">
                    <div class="service-box">
                       <div class="ratio img-responsive img-circle" style="background-image:url(assets/tahir_speaking.jpg)"></div>
                        <h3>The Man</h3>
                        <p class="text-muted">Read up on the Tahir's story.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-6 text-center">
                    <div class="service-box">
                            <div class="ratio img-responsive img-circle" style="background-image:url(assets/tahir_book.jpg)"></div>
                        <h3>The Book</h3>
                        <p class="text-muted">Learn how to become an Unstoppable Millionaire!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-6 text-center">
                    <div class="service-box">
                          <div class="ratio img-responsive img-circle" style="background-image:url(assets/tahir_event.jpg)"></div>
                        <h3>The Events</h3>
                        <p class="text-muted">Book your slot to hear Tahir in person!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-6 text-center">
                    <div class="service-box" >
                           <div class="ratio img-responsive img-circle" style="background-image:url(assets/follow_tahir.jpg)"></div>
                        <h3>The Rest</h3>
                        <p class="text-muted">Connect with Tahir on various social media.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

   <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel4.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel3.jpg" class="img-responsive" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel2.jpg" class="img-responsive" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel5.jpg" class="img-responsive" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/carousel6.jpg" class="img-responsive" alt="">
                        
                    </a>
                </div>
            </div>
        </div>
    </section>

   