 <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>Reach out to Tahir</h2>
          <h5>theunstoppablemillionaire@yahoo.com</h5>

          <p class="mt">
            <a href="#"><i class="ion-social-twitter"></i></a>
            <a href="#"><i class="ion-social-instagram"></i></a>
            <a href="https://www.facebook.com/worldachievers?fref=ts"><i class="ion-social-facebook"></i></a>
            <a href="#"><i class="ion-ios-email"></i></a>
          </p>
          <h6 class="mt">COPYRIGHT 2016 - UNSTOPPABLE MILLIONAIRE</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->